@use "/src/sass/base/variables.scss" as *;

@mixin title {
  color: $dark;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}

@mixin button {
  display: block;
  padding: 0 10px;
  border: 1px solid $dark;
  border-radius: 2px;
  text-align: center;
  color: $dark;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}
